.navbar_container{
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
}
.logo{
    margin: 1rem;
    padding-left: 7rem;
}
.nav_links_container {
   float: left;
   
    padding-top: 1.8rem;
    padding-right:2rem;
    display: flex;
    gap: 20px;
}
.nav_links_container a{
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.nav_links_container a :hover{
    cursor: pointer;
}

.nav_button{
    display: flex;
    gap: 20px;
    margin-right: 7rem;
    margin-top: 1.2rem;
}

.nav_button button{
        border-radius: 4px;
        height: 45px;
        font-size: 14px;
        font-weight: 500;
        width: 128px;
    }
.nav_button button:hover{
    cursor: pointer;
}

    .post_ajob {
        border: 2px solid;
        background-color: white;
        border-color: rgba(1, 163, 224, 1);
        color: rgba(1, 163, 224, 1);
    }
    .sign_up {
        border: none;
        background-color: rgba(1, 163, 224, 1);
        color: white;
    }

    .nav_links_container a.active{
        position: relative; 
        color: rgba(1, 163, 224, 1); 
        font-weight: 600;
    }
    
    .nav_links_container a.active::after{
        content: '';
        
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 6px;
        background:rgba(1, 163, 224, 1);
    }